<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-0 col-12 " style="width: 100%;">
    <div class="allsidebar">
        <div class="container sidebarheader">
            <a>Hottest in lastweek</a>
        </div>
        <div class="container sidebarcontent " style="background-color: #DFDFDF;">
            <div class="container-fluid" style="width:100px ; ">
                <div class="sideimg">
                </div>

            </div>

            <% include sidecontent %>
                <% include sidecontent %>
                    <% include sidecontent %>
                        <% include sidecontent %>
                            <% include sidecontent %>
                                <% include sidecontent %>
                                    <% include sidecontent %>
                                        <% include sidecontent %>
                                            <% include sidecontent %>
                                                <% include sidecontent %>

        </div>
        <div class="container sidebarfooter" style="background-color: #ECECEC; ">

        </div>
    </div>
</div>