<div class="signupSection" style="background-color: transparent;" id="uploadSection">
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin: 0;  height: 50px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 15px 15px 0px 0px; background: #DFDFDF;">
        <h3 style="margin-top: 10px; color: #000000;">Create your Voice</h3>
        <label id="closeButton" style="color: #686868;" for="show" class="close-btn fas fa-times" title="close"></label>
    </div>
    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="height: auto; padding: 0; margin: 0; border-radius: 0px 0px 15px 15px; background: #DFDFDF;">
        <form action="/tracks" method="POST" enctype="multipart/form-data"></form>
        <div class="row col-xl-5 col-lg-5 col-md-12 col-sm-12 col-5" style=" padding: 10px; margin: 0;  border-right:3px solid rgb(70, 70, 70); ">

            <h4 style="color: #000000;">Upload flie</h4>
            <!-- <div id="recordButton" >
                        <img src="http://softlyspoken.herokuapp.com/resources/microphone.png"
                            style="margin-left: 170px;width: 200px;height: 200px;margin-top: 100px;display: block;" />
                    </div>
                    <div id="pauseButton">
                        <img src="http://softlyspoken.herokuapp.com/resources/microphone.png"
                            style="margin-left: 170px;width: 200px;height: 200px;margin-top: 100px;display: none;" />
                    </div> -->

            <div class="uploadfile">
                <input type="file" name="track" class="choosefile"></input>
            </div>
            <h4 style="color: #000000;">Upload thumbnail</h4>
            <div class="imgtoupload">

                <img class="imgupload" style="color:#686868;" src="http://softlyspoken.herokuapp.com/resources/kisspng-computer-icons-photography-img-landscape-photo-photography-picture-icon-5ab054ddbd13a7.3403789515215055017745.png " alt=" ">
                <a style="color:#686868;">click here to upload</a>
                <input type="file" name="thumbnail" class="choosefile"></input>
            </div>

        </div>
        <div class="row col-xl-7 col-lg-7 col-md-12 col-sm-12 col-7 " style=" margin: 0; padding: 10px; ">
            <ul class="noBullet ">
                <!-- <li>
                    <label for="tile "></label>
                    <input type="text " class="inputTitle " id="title " name="name " placeholder="title* " value=" " required />
                </li> -->
                <textarea name=" comment " id="comments-post " class="comments-post " style="background-color: #C4C4C4; width: 100%; margin: 5px; border-radius: 8px; " placeholder=" Title* "></textarea>
                <textarea name=" comment " id="comments-post " class="comments-post " style="height: 70px; background-color: #C4C4C4; width: 100%; margin: 5px; border-radius: 8px; " placeholder=" Descrpition* "></textarea>


                <label for="choose your tag " style="color:#686868; ">Choose your tag:</label>
                <select name="category " id="choosetag " class="choosetag " style="color: black; ">
                                <option valuey="study ">STUDY</option>
                                <option value="love ">LOVE</option>
                                <option value="entertainment ">ENTERTAINMENT</option>
                                <option value="health ">HEALTH</option>
                            </select>
                <button class=" myButton " style="border:0; ">Publish</button>
            </ul>
        </div>


    </div>
    </form>
</div>

<!-- <div class="signupSection" id="uploadSection">
    <label id="closeButton" for="show" class="close-btn fas fa-times" title="close"></label>
    <div class="info">
        <h2>Record Now</h2>
        <div id="recordButton" >
            <img src="http://localhost:3000/resources/microphone.png"
                style="margin-left: 170px;width: 200px;height: 200px;margin-top: 100px;display: block;" />
        </div>
        <div id="pauseButton">
            <img src="http://localhost:3000/resources/microphone.png"
                style="margin-left: 170px;width: 200px;height: 200px;margin-top: 100px;display: none;" />
        </div>
        <div class="uploadfile" style="margin-top: 100px;">
            <span> or upload file</span>
            <button class="choosefile">choose file</button>
        </div>
    </div>
    <form action="#" method="POST" class="titleForm" name="titleform" style="float:right;">
        <ul class="noBullet" style="margin-top: 100px;">
            <li>
                <label for="tile"></label>
                <input type="text" class="inputTitle" id="title" name="title" placeholder="title*" value="" required />
            </li>
            <li>
                <label for="description"></label>
                <textarea name="description" class="description" id="description" cols="30" rows="10"
                    placeholder="description*" required></textarea>
            </li>

            <div class="imgToUpload">
                <div>
                    Upload thumbnail
                    <img class="imgupload"
                        src="http://localhost:3000/resources/kisspng-computer-icons-photography-img-landscape-photo-photography-picture-icon-5ab054ddbd13a7.3403789515215055017745.png"
                        alt="" /> click here to upload
                </div>

                <label for="choose your tag">Choose your tag:</label>
                <select name="choose your tag" id="choosetag" class="choosetag">
                    <option value="study">STUDY</option>
                    <option value="love">LOVE</option>
                    <option value="entertainment">ENTERTAINMENT</option>
                    <option value="health">HEALTH</option>
                </select>

            </div>
            <li id="center-btn">
                <input type="submit" id="publish" name="publish" alt="publish" value="publish" />
            </li>
        </ul>
    </form>
</div> -->