.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.warpingyou {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.allupload {
    justify-content: flex-end;
    position: fixed;
    right: 50px;
    top: 100px;
    width: 300px;
}

.sideimg {
    background-image: url("/resources/drake.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
}

.allsidebar {
    justify-content: flex-end;
    position: fixed;
    right: 50px;
    top: 100px;
    width: auto;
}

.sidebarfooter {
    margin-top: 0;
    margin-bottom: 0;
    height: 50px;
    width: 300px;
}

.sidebarheader {
    height: 50px;
    font-size: 20px;
    width: 300px;
    background-color: aqua;
}

.sidebarcontent {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    height: 400px;
    transition: all .3s ease-out;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.myButton {
    background-color: #000000;
    border-radius: 60px;
    display: inline-block;
    color: #ffffff;
    font-family: Coolvetica;
    font-size: 4vw;
    padding: 7px 20px;
    text-decoration: none;
    margin-left: 1vw;
    justify-content: flex-end;
}

.myButton:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.textarea {
    outline: none;
    resize: none;
    overflow: auto;
    font-family: Coolvetica;
    font-size: 30px;
    color: #000000;
}

.respon {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}


/* .headerpodcast {} */

.headertext {
    font-family: Coolvetica;
    font-size: 30px;
    color: #FCD200;
}

.footerarea {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #FCD200;
    text-align: center;
    margin-top: 5vw;
    z-index: 2;
}

.footer-area {
    width: 100%;
    height: 100px;
    background-color: #FCD200;
    text-align: center;
    margin-top: 5vw;
}

.artworkarea {
    background-image: url("/resources/test2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 100%;
    height: 600px;
}

.responlogin {
    height: auto;
}

.spacearea {
    height: auto;
}

p.test {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

#description {
    height: fit-content;
    width: 90%;
    font-family: Coolvetica;
    color: black;
    /* background-color: #FCD200; */
}

.fontrespon {
    font-family: Coolvetica;
    font-size: 15px;
}

.headerdetail {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 8px;
}

nav {
    margin: 0;
    background: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    max-height: 45px;
}

.nav-content a {
    display: block;
    font-size: 16px;
    line-height: 44px;
    text-decoration: none;
    transition: all 0.3s;
    color: #ffffff;
}

.nav-content a:hover,
.nav-icon:hover,
.search-icon:hover,
.user-icon:hover,
.notification-icon:hover {
    opacity: 0.7;
}

.nav-links-nologin {
    width: 75%;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links {
    width: 60%;
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-links-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-icon {
    display: none;
    grid-gap: 5px;
    grid-template-columns: auto;
    padding: 17px 0;
    height: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.bar {
    height: 1px;
    width: 18px;
    background: white;
    transition: 0.5s;
}

.notification-icon {
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
}

.user-pic {
    background-image: url("/resources/track_art.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    transition: all 0.3s;
}

.search-icon {
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    border-radius: 50px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(170, 170, 170);
    border-radius: 50px;
}

.toggle-1 {
    font-size: 1rem;
    font-family: Coolvetica;
    display: inline-block;
    vertical-align: top;
    margin: 5px 15px 0 0;
}

.toggle-1__input {
    display: none;
}

.toggle-1__button {
    position: relative;
    display: inline-block;
    font-family: Coolvetica;
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    background: transparent;
    color: #000;
    border-radius: 7px;
    padding: 5px 10px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.toggle-1__button::before {
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("/resources/save2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* background: transparent; */
    border-radius: 100%;
    transition: all 0.3s ease;
}

.toggle-1__button::after {
    font-family: Coolvetica;
    content: "";
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 1rem;
}

.toggle-1__button--correct {
    position: absolute;
    width: 25px;
    left: 5px;
    top: 5px;
    visibility: hidden;
}

.toggle-1__input:checked+.toggle-1__button {
    /* background: #2973CB;
    border: #2973CB; */
    color: #000;
}

.toggle-1__input:checked+.toggle-1__button>.toggle-1__button--correct {
    visibility: visible;
}

.toggle-1__input:checked+.toggle-1__button::after {
    font-family: Coolvetica;
    content: "";
}

.toggle-2 {
    font-size: 1rem;
    font-family: Coolvetica;
    display: inline-block;
    vertical-align: top;
    margin: 5px 15px 0 0;
}

.toggle-2__input {
    display: none;
}

.toggle-2__button {
    position: relative;
    display: inline-block;
    font-family: Coolvetica;
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    background: transparent;
    color: #000;
    border-radius: 7px;
    padding: 5px 10px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.toggle-2__button::before {
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("/resources/save2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* background: transparent; */
    border-radius: 100%;
    transition: all 0.3s ease;
}

.toggle-2__button::after {
    font-family: Coolvetica;
    content: "save";
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 1rem;
}

.toggle-2__button--correct {
    position: absolute;
    width: 25px;
    left: 5px;
    top: 5px;
    visibility: hidden;
}

.toggle-2__input:checked+.toggle-2__button {
    /* background: #2973CB;
    border: #2973CB; */
    color: #000;
}

.toggle-2__input:checked+.toggle-2__button>.toggle-2__button--correct {
    visibility: visible;
}

.toggle-2__input:checked+.toggle-2__button::after {
    font-family: Coolvetica;
    content: "saved";
}

.toggle-3 {
    font-size: 1rem;
    font-family: Coolvetica;
    display: inline-block;
    vertical-align: top;
    margin: 5px 15px 0 0;
}

.toggle-3__input {
    display: none;
}

.toggle-3__button {
    position: relative;
    display: inline-block;
    font-family: Coolvetica;
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    background: transparent;
    color: #000;
    border-radius: 7px;
    padding: 5px 10px 5px 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.toggle-3__button::before {
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url("/resources/logo_black.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* background: transparent; */
    border-radius: 100%;
    transition: all 0.3s ease;
}

.toggle-3__button::after {
    font-family: Coolvetica;
    content: "like it";
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 1rem;
}

.toggle-3__button--correct {
    position: absolute;
    width: 25px;
    left: 5px;
    top: 5px;
    visibility: hidden;
}

.toggle-3__input:checked+.toggle-3__button {
    /* background: #2973CB;
    border: #2973CB; */
    color: #000;
}

.toggle-3__input:checked+.toggle-3__button>.toggle-3__button--correct {
    visibility: visible;
}

.toggle-3__input:checked+.toggle-3__button::after {
    font-family: Coolvetica;
    content: "liked!";
}

@media (max-width: 900px) {
    .nav-links,
    .nav-links-nologin {
        position: fixed;
        top: 43px;
        right: 0;
        height: 0;
        width: 100%;
        background: #000000;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        flex-direction: column;
        justify-content: flex-start;
        transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .show .nav-links {
        height: 70%;
    }
    .show .nav-links-nologin {
        height: 70%;
    }
    .nav-links-nologin a {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-right: 80px;
        margin-left: 80px;
        transition: opacity 1.5s, height 2s;
    }
    .nav-links a {
        height: 0;
        width: 0;
        opacity: 0;
        overflow: hidden;
        margin-right: 80px;
        margin-left: 80px;
        transition: opacity 1.5s, height 2s;
    }
    .show .nav-links-nologin a {
        opacity: 1;
        width: auto;
        height: auto;
    }
    .show .nav-links a {
        opacity: 1;
        width: auto;
        height: auto;
    }
    .nav-icon {
        order: 1;
        display: grid;
    }
    .logo {
        order: 2;
    }
    .search-icon {
        order: 3;
        margin-right: -2em;
    }
    .user-icon {
        order: 3;
    }
    .notification-icon {
        order: 4;
    }
}

.show .one {
    transform: rotate(45deg) translateY(5.5px);
}

.show .two {
    transform: rotate(-45deg) translateY(-5.5px);
}

.content {
    max-width: 300px;
    min-height: 150px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content h1 {
    font-size: 64px;
    margin-bottom: 0;
    color: #111111;
}

@media (max-width: 960px) {
    .content h1 {
        font-size: 48px;
    }
}

#search-bar {
    margin-top: 8px;
    width: 23vw;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: Segoe UI;
    font-size: 12px;
    color: white;
    transition: 0.2s;
    height: 30px;
}

#search-bar:hover,
#search-bar:focus {
    outline: none;
    background-color: rgba(255, 255, 255);
    color: black;
}

#search-bar:focus {
    padding-left: 30px;
}


/* Default styles first then media queries */

@media screen and (max-width: 398px) {
    .commentt {
        font-size: 12px;
    }
    .headertext {
        font-size: 20px;
    }
    .myButton {
        font-size: 15px;
    }
    .artworkarea {
        height: 150px;
    }
    .headertext {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 400px) {
    .commentt {
        font-size: 12px;
    }
    .headertext {
        font-size: 20px;
    }
    .myButton {
        font-size: 15px;
    }
    .artworkarea {
        height: 150px;
    }
    .headertext {
        margin-top: 2rem;
    }
}

@media screen and (min-hight: 400px) {
    .headertext {
        font-size: 20px;
    }
    .myButton {
        font-size: 15px;
    }
    .artworkarea {
        height: 150px;
    }
    .headertext {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 600px) {
    .commentt {
        font-size: 18px;
    }
    .headertext {
        font-size: 20px;
    }
    .myButton {
        font-size: 15px;
    }
    .artworkarea {
        height: 500px;
    }
}

@media screen and (min-width: 1000px) {
    .headertext {
        font-size: 17px;
    }
    .myButton {
        font-size: 15px;
    }
    .artworkarea {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .headertext {
        font-size: 23px;
    }
    .myButton {
        font-size: 15px;
    }
    .artworkarea {
        height: 500px;
    }
}

@media screen and (min-width: 1400px) {
    .headertext {
        font-size: 25px;
    }
}

@media screen and (min-width: 1800px) {
    .headertext {
        font-size: 35px;
    }
    .spacearea {
        height: 100px;
    }
    .myButton {
        font-size: 20px;
    }
}