<!DOCTYPE html>
<html>

<head>
    <title>editprofile</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/card.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/enavbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/soundbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/button.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/extranavbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/musicplayer/musicplayer.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/slider.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/login/login.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/upload/upload.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/mix.css" />

</head>

<body>
    <% include partials/loginnavbar %>
        <div class="container" style="margin-top:10%; padding: auto; height: fit-content;  ">


            <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="border-radius: 15px; background-color: #DFDFDF; height: fit-content; padding: 0; padding-top: 30px; padding-bottom: 30px; margin-bottom: 30px; margin: auto;">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-3" style="padding: 0; max-width:100%; height: auto; border-right: 3px solid rgb(70, 70, 70);">
                    <a href="xxxxx ">
                        <img src="http://softlyspoken.herokuapp.com/resources/track_art.png " class="respon" style="padding: 20px;">
                    </a>

                    <a href="url" style="margin: 20px; font-family:Coolvetica; font-size:20px; line-height:29px; color:#686868;">Change
                    profile picture <img src="http://softlyspoken.herokuapp.com/resources/wrench.png"style="width: 30px; height: 30px;">
                     </a>
                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin: 0; padding: 0; width:100%; height:fit-content; background:#EDF0F3; ">
                        <p style="margin: 20px; font-family:Coolvetica; font-size:20px; line-height:50px; color:#000000;    ">
                            Edit your profile</p>
                    </div>
                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin: 0; padding: 0;  width:100%; height:fit-content  ">
                        <a href="/changepassword" style="margin: 20px; font-family:Coolvetica; font-size:20px; line-height:50px; color:#686868;  ">Change
                        password</a>
                    </div>
                </div>


                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-9" style=" padding: 0; ">
                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="display: flex; flex-direction: column; margin: 0; padding: 0;  height: fit-content; border-bottom: 3px solid rgb(70, 70, 70); ">

                        <p style="font-family:Coolvetica; font-size:20px;  margin-bottom: 0; margin-top:10px; margin-left:20px; color:#686868; ">
                            Username</p>
                        <input type="text " class="form-control form-control-lg " style="max-width:50%; height: 50px; border-radius: 5px; margin-bottom: 10px; margin-left:15px; background:#EDF0F3; " placeholder=" Username ">


                    </div>

                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="display: flex; flex-direction: column; margin: 0; padding: 0;  height: fit-content; ">

                        <p style="font-family:Coolvetica; font-size:20px;  margin-bottom: 0; margin-left:20px; color:#686868; ">
                            Email</p>
                        <input type="text " class="form-control form-control-lg " style="max-width:50%; height: 50px; border-radius: 5px;  margin-left:15px; background:#EDF0F3; " placeholder=" Email adress ">


                    </div>


                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="display: flex; flex-direction: column; margin: 0; padding: 0;  height: fit-content; ">

                        <p style="font-family:Coolvetica; font-size:20px; margin-bottom: 0;  margin-left:20px; color:#686868; ">
                            Website</p>
                        <input type="text " class="form-control form-control-lg " style="max-width:50%; height: 50px; border-radius: 5px; margin-left:15px; background:#EDF0F3; " placeholder="Website ">


                    </div>


                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="display: flex; flex-direction: column;margin: 0; padding: 0;  height: fit-content; ">
                        <p style="font-family:Coolvetica; font-size:20px; margin-bottom: 0;  margin-left:20px; color:#686868; ">
                            Introduce yourself</p>
                        <textarea name=" comment " id="comments-post " class="comments-post " style="max-width: 70%; height: 100px; margin-left:15px; border-radius: 5px;  background:#EDF0F3; border: 0;"></textarea>

                    </div>

                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style=" display: flex; flex-direction:row-reverse; ">
                        <a href="# " class="myButton ">Save</a>
                    </div>
                </div>
            </div>



        </div>
        <footer>
            <div class="footer-area ">

            </div>
        </footer>
        <% include partials/upload %>
            <% include partials/mediabar %>



                <script src="https://code.jquery.com/jquery-2.2.0.min.js " type="text/javascript "></script>
                <script src="stylesheets/slick/slick.js " type="text/javascript " charset="utf-8 "></script>

                <script src="stylesheets/slick/slickstyle.js " type="text/javascript "></script>
                <script src="stylesheets/navicon.js " type="text/javascript "></script>
                <script src="stylesheets/musicplayer/musicplayer.js "></script>
                <script src="stylesheets/navbar.js "></script>


</body>

</html>